body {
    background-color: #e6e1fe;
    text-align: center;
    font-family: Arial, sans-serif; /* Set a default font family */
}

img{
    width: 200px;
    height: 100px;
}

.login-header {
    font-size: 24px; /* Set font size for the login header */
    margin-bottom: 20px;
    padding: 10px; /* Add padding to the login header */
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px; /* Add padding to the form */
    background-color: #fff; /* Optional: Add background color to the form */
    border-radius: 8px; /* Optional: Add rounded corners to the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow to the form */
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px; /* Set font size for labels */
    padding: 5px 0; /* Add padding to the labels */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px; /* Set font size for input fields */
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007bff; /* Change this to your desired color */
    text-decoration: none;
    font-size: 14px; /* Set font size for the forgot password link */
    padding: 5px 0; /* Add padding to the forgot password link */
}

.forgot-password:hover {
    text-decoration: underline;
}

button {
    margin-top: 20px;
    padding: 10px 20px; /* Add padding to the button */
    background-color: #007bff; /* Change this to your desired color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Set font size for the button */
}

button:hover {
    background-color: #0056b3; /* Change this to your desired color */
}
